@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@section bodytitle {
    @*hide the default page title*@
}

@section featured {
    <div class="hero-unit">
        <div class="row">
            <div class="span4">
                <h2>You got 404'd</h2>
                <p>What is a 404?</p>
            </div>
            <div class="span8">


            </div>
        </div>
    </div>
}

