@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@section bodytitle {
    @*hide the default page title*@
}

<div class="alert alert-important">
    <label class="label label-important">¡Atención!!</label>&nbsp;You are not authorised to perform the requested action or view that page.
</div>
