@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form", style="display:none" }))
  {
  @Html.AntiForgeryToken()
  }
  <text>
  <p class="pull-right" style="margin-top:10px">
    Logged in as @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
  </p>
  </text>
}
else
{
  
  <text>
  <p class="pull-right" style="margin-top:10px">
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&nbsp;&nbsp;
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
  </p>
  </text>
}